{% extends "base.twig" %}

{% block content_title %}Fresh Rates{% endblock %}
{% block content %}
    <table id="currencies-table" class="table">
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Price</th>
            </tr>
        </thead>
        <tbody>
            {% for currency in currencies %}
            <tr>
                <th scope="row"><a href="{{path('currency_item', {'name': currency.name|lower})}}">{{currency.name|upper}}</a></th>
                <td>{{currency.price|price}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}

{% block javascripts %}
    <script src="//cdn.datatables.net/v/bs4/dt-1.10.20/datatables.min.js"></script>
    <script>
        $("#currencies-table").DataTable({
            searching: false,
            paging: true,
            info: false,
            pageLength: 7,
        });
    </script>
{% endblock %}
